body{
	font-family: arial;
	background: #74B493;
	text-align: center;
	background-image: url("images/gori.jpeg");
	background-position: center;
	background-size: cover; 
	background-color: white;
	background-attachment:fixed;


}


h1, h2, h3 {
	color: black;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	background: #E9D2E2; 
}

p{
	color: black;
	background-image: url("images/grills.jpeg");
	background-position: center;
	background-size: cover; 
}

a{
	text-decoration: none;


}


a:hover {
	background: white;
	cursor: pointer;
	border-radius: 30px
	padding:10px;
}

ul{
	text-align: left;
}
p{border: 3px dotted red;
padding :20px;
margin : 30px;
}


.box-black{
background:black;
padding:300px;
width:500px;
position: absolute;
}

.box-red{
background:red;
height: : 100px;
width:10px;
position: absolute;
right: 20px
}

.box-yellow{
background:#ff8426;
border-radius: 100px;
margin:10px;
}

.box-blue{
background:#f26a01;
border-radius: 100px;
margin:10px;
}




